[2018-12-04 13:20] kayrus opened #4 "Openstack: application credential support"
Openstack provides application credential auth method:
https://docs.openstack.org/keystone/queens/user/application_credentials.html

It would be great if Gardener can support them.

[2019-05-17 21:47] afritzler opened #3 "Add support for UserDomainName, TenantID and DomainID in OpenStack infra secret"
**What would you like to be added**:
Currently when using OpenStack we only allow the usage of `tenantName` and `domainName` in the infrastructure secret [0]. We should also support IDs instead of name here.

The integration has to happen in the following components
- [x] Machine Controller Manager as it creates machines using gophercloud https://github.com/gardener/machine-controller-manager/pull

[2019-07-19 12:39] afritzler opened #2 "Remove Credentials on OpenStack Nodes"
**What would you like to be added**:
Currently the `cloud-controller-manager` and the `kubelet` need a credential file on the host. This can be prevented by using the out-of-tree OpenStack cloud provider together with the CSI plugin for Cinder.

**Why is this needed**:
Prevent users who can mount the host filesystem to read infrastructure credentials from the host.

[2019-10-22 09:16] afritzler opened #1 "Adopt CSI for OpenStack extension beginning with Kubernetes 1.19"
In order to fix gardener/gardener-extensions#200 and proceed with gardener/gardener-extensions#154 we need to enable the OpenStack CSI in the OpenStack provider.

[2020-01-30 12:57] afritzler opened #5 "Add support on per region image ids"
In OpenStack similar to gardener/gardener-extensions#482 we need to handle image ids on a per region level. Reason for that: in OpenStack environments where you don't have the permission to publish `public` images but still need to roll our custom images to all projects, glance has the option to do that via using the `community` visibility [0].

The MCM has now the feature to use image ids instead

[2020-01-30 12:57] #5 closed

[2020-01-30 12:57] #6 closed

[2020-01-30 12:57] kayrus opened #6 "Add OS_USER_DOMAIN_NAME support for the OpenStack auth"
When the technical user is created in the different domain, auth fail.

More background is here: https://github.com/gardener/garden-setup/pull/58

At least the following files have to be modified:

[code]

/cc @afritzler this is quite critical issue for us.

[2020-01-30 12:58] kayrus opened #7 "Gardener shoot loadbalancer cleanup race condition (OpenStack)"
**What happened**:

When you remove the seed cluster, it stucks because loadbalancers cannot be removed.

**What you expected to happen**:

seed cluster removal should not stuck

**How to reproduce it (as minimally and precisely as possible)**:

create a seed cluster in openstack environment with lbaas support, then remove the seed cluster. The issue is not permanent, from my perspective it occurr

[2020-01-30 12:58] #7 closed

[2020-01-30 12:58] kayrus opened #8 "Add the gardener cluster prefix to the OpenStack resources"
**What would you like to be added**:

Add the gardener cluster prefix to the OpenStack resource names, especially keypairs, since the keypair name is unique.

**Why is this needed**:

Multiple isolated gardener clusters within the same project cannot have the same keypairs for shoots.

[code]

The same could be done for network resources, e.g. networks, subnets, routers

[2020-01-30 12:58] #8 closed

[2020-01-30 12:58] kayrus opened #9 "Don't stick an amount of OpenStack AZs to the amount of worker networks for shoots"
**What would you like to be added**:

`spec.cloud.openstack.networks.workers` should be optional. If it is not specified, then `spec.cloud.openstack.networks.nodes` CIDR should be used. An amount of `spec.cloud.openstack.zones` should not be stick to the amount of `spec.cloud.openstack.networks.workers`

**Why is this needed**:

All AZs within the region in CCloud EE env share the same network CID

[2020-01-30 12:58] #9 closed

[2020-01-30 12:59] svetlinas opened #10 "Openstack ControlPlane controller reads DHCPDomain and RequestTimeout from wrong resource"
Openstack control plane controller needs DHCPDomain and RequestTimeout variable which are read from ControlPlaneConfig. However, these parameters should be read from Cluster.CloudProfile.

[2020-01-30 12:59] #10 closed

[2020-01-30 12:59] rfranzke opened #11 "Implement `Worker` controller for OpenStack provider"
Similar to how we have implemented the `Worker` extension resource controller for the [AWS provider](https://github.com/gardener/gardener-extensions/pull/71) let's please now do it for OpenStack.

There is no special provider config required to be implemented, however, we should have [component configuration](https://github.com/gardener/gardener-extensions/pull/71/files#diff-ec48bd1cd4bb7c2b51603f

[2020-01-30 12:59] #11 closed

[2020-01-30 12:59] rfranzke opened #12 "Implement `ControlPlane` controller for OpenStack provider"
Similar to how we have implemented the `ControlPlane` extension resource controller for the [AWS provider](https://github.com/gardener/gardener-extensions/tree/master/controllers/provider-aws/pkg/controller/controlplane) let's please now do it for OpenStack.

Based on [the current implementation](https://github.com/gardener/gardener/blob/master/example/90-shoot-openstack.yaml) the `ControlPlaneCon

[2020-01-30 12:59] #12 closed

[2020-01-30 12:59] rfranzke opened #13 "Implement `Infrastructure` controller for OpenStack provider"
Similar to how we have implemented the `Infrastructure` extension resource controller for the [AWS provider](https://github.com/gardener/gardener-extensions/tree/master/controllers/provider-aws/pkg/infrastructure) let's please now do it for GCP.

Based on [the current implementation](https://github.com/gardener/gardener/blob/master/example/90-shoot-openstack.yaml#L13-L19) the `InfrastructureConfig

[2020-01-30 12:59] #13 closed

[2020-02-04 07:02] rfranzke opened #15 "Cannot delete infrastructure when credentials data keys a re missing in secret"
From https://github.com/gardener/gardener-extensions/issues/577

But when trying to delete such a cluster this fails because of the same reason:

[2020-02-04 07:04] rfranzke opened #16 "Update credentials during Worker deletion"
From https://github.com/gardener/gardener-extensions/issues/523

[2020-02-04 07:04] rfranzke opened #17 "Update credentials during Worker deletion"
From https://github.com/gardener/gardener-extensions/issues/523

[2020-02-04 07:05] rfranzke commented on #17
Duplicate of #16

[2020-02-04 07:05] #17 closed

[2020-02-04 07:16] rfranzke opened #18 "SeedNetworkPoliciesTest fails always"
From https://github.com/gardener/gardener-extensions/issues/293

The test defined in [SeedNetworkPoliciesTest.yaml](https://github.com/gardener/gardener/blob/master/.test-defs/SeedNetworkPoliciesTest.yaml) fails always.
Most of the time the following 3 specs fail:

[2020-02-04 07:18] rfranzke opened #19 "Provider-specific webhooks in Garden cluster"
From https://github.com/gardener/gardener-extensions/issues/407

This allows end-users to harm themselves and create invalid `Shoot` resources the Garden cluster. Errors will only become present during reconciliation part creation of the resource.

[2020-02-04 07:25] rfranzke opened #20 "Remove insecure flag from infra TF config"
**What would you like to be added**:
We should remove the `insecure=true` config here: https://github.com/gardener/gardener-extension-provider-openstack/blob/master/charts/internal/openstack-infra/templates/main.tf#L8. This probably requires the specification of the CA in case the OpenStack API is not signed with a commonly trusted CA.

**Why is this needed**:
We should not use insecure connection

[2020-02-04 07:28] rfranzke opened #21 "Add tests for alerting rules"
From https://github.com/gardener/gardener-extensions/issues/346

[2020-02-04 07:29] rfranzke opened #22 "Segregate seed infra and end user shoot lb profiles"
From https://github.com/gardener/gardener-extensions/issues/275

[2020-02-04 07:30] rfranzke commented on #22
@kayrus is this still relevant?

[2020-02-04 07:32] rfranzke opened #23 "Minimal Permissions for user credentials"
From https://github.com/gardener/gardener-extensions/issues/133

[2020-02-04 07:33] rfranzke commented on #23
Disclaimer: It is unclear whether the current required permissions can be narrowed down even more (whether the cloud provider allows this fine-granular tuning) - if you think it is not possible/not recommended please close the issue with a proper explanation.

[2020-02-04 07:35] rfranzke opened #24 "Run all `make` commands in container."
From https://github.com/gardener/gardener-extensions/issues/122

[2020-02-20 17:06] ialidzhikov opened #34 "Forbid replacing secret with new account for existing Shoots"
**What would you like to be added**:
Currently we don't have a validation that would prevent user to replace its cloudprovider secret with credentials for another account. Basically we do have only a warning in the dashboard - ref https://github.com/gardener/dashboard/pull/422.

Steps to reproduce:
1. Get an existing Shoot.
2. Update its secret with credentials for another account.
3. Ensure that

[2020-03-11 07:24] #15 closed

[2020-03-11 07:24] #16 closed

[2020-03-25 07:14] rfranzke commented on #19
done with #36

[2020-03-25 07:14] #19 closed

[2020-03-25 07:15] rfranzke commented on #2
Closing in favour of #1

[2020-03-25 07:15] #2 closed

[2020-03-31 13:42] rfranzke commented on #1
The CSI migration is beta with 1.18, though, the CSI plugins for OpenStack are not yet ready to cater with Gardener needs. We will have to contribute there before we can migrate to CSI. Hence, postponing this issue until 1.19.

[2020-04-09 15:22] rfranzke commented on #1
I opened https://github.com/kubernetes/cloud-provider-openstack/pull/1021 to allow disabling the individual driver services so that we can run the controller service in the seed and the node service in the shoot. However, the node service is also still depending on/requiring the cloud config and the OpenStack credentials. Anyways, this is already like it is today (the kubelet needs the credentials

[2020-04-09 15:24] rfranzke commented on #2
Turns out that with #1 it won't be possible either to remove the credentials from the cluster. Instead of being stored on the nodes they will be stored as `Secret` in the `kube-system` namespace with CSI. Though, that's still not what we want. We can't do much on our side and have to wait for the outcome of https://github.com/kubernetes/cloud-provider-openstack/issues/1020.

[2020-04-14 04:34] rfranzke opened #61 "Remove zone from ControlPlaneConfig"
**What would you like to be added**:
The `zone` field should be removed from the `ControlPlaneConfig`. It was taken over during extensibility from the in-tree behaviour, but it is not needed. In fact, it only influences the `zone` parameter in the default `StorageClass` that gets installed to the shoot cluster, though, this does not work well with multi-zone shoots. The default behaviour of the Ci

[2020-04-14 04:34] rfranzke commented on #61
cc @timuthy

[2020-04-14 04:34] rfranzke commented on #61
FYI: Similar PR for Alicloud was opened: https://github.com/gardener/gardener-extension-provider-alicloud/pull/64

[2020-04-14 04:37] rfranzke opened #62 "Drop floating pool name validation"
The OpenStack validator checks that the `floatingPoolName` used for shoots is one that was previously defined in the `CloudProfile` by a Gardener operator. However, some OpenStack environments don't manage the floating pools globally (at least not all of them) but sometimes also per project. Hence, such a list in the `CloudProfile` is never complete and we should allow end-users to enter an arbitr

[2020-04-14 04:37] rfranzke commented on #62
cc @timuthy

[2020-04-14 10:04] timuthy commented on #62
This issue is also related to the [LoadBalancerClasses](https://github.com/gardener/gardener-extension-provider-openstack/blob/master/pkg/apis/openstack/v1alpha1/types_controlplane.go#L34) since they belong to a `FloatingPool` in the [CloudProfile](https://github.com/gardener/gardener-extension-provider-openstack/blob/master/pkg/apis/openstack/v1alpha1/types_cloudprofile.go#L71). Hence, it makes s

[2020-04-14 10:22] rfranzke commented on #62
cc @afritzler

[2020-04-14 11:42] afritzler commented on #62
We can of course disable the `FloatingPoolName` validation but this will create a situation where users provide networks which are not reachable from the Gardener network - hence you will end up with a lot of broken clusters. I guess we could try to disable the validation for `CloudProfile` and `ControlPlane`.

[2020-04-16 12:33] #62 closed

[2020-04-29 16:29] vpnachev commented on #2
Should we re-open this issue to track the progress?

[2020-04-29 17:20] rfranzke commented on #2
I guess we can't fix it as the CSI plugin still requires the credentials in the cluster.

[2020-05-01 16:25] vlerenc commented on #1
Wow, despite CSI still. I saw @kayrus opened the ticket. Thanks!

[2020-05-07 17:22] dansible opened #69 "Validate cloudprovider credentials"
(recreating issue from the g/g repo: https://github.com/gardener/gardener/issues/2293)

**What would you like to be added**:
Add validation for `cloudprovider` secret

**Why is this needed**:
Currently, when uploading secrets via the UI, all secret fields are required and validated. However, when creating those credentials via the `cloudprovider` secret, there is no validation. This results in err

[2020-05-13 03:57] rfranzke opened #73 "Add domain field to `openstackv1alpha1.FloatingPool`"
**What would you like to be added**:
Let's add a new optional `domain *string` field to the [`openstackv1alpha1.FloatingPool`](https://github.com/gardener/gardener-extension-provider-openstack/blob/master/pkg/apis/openstack/v1alpha1/types_cloudprofile.go#L63-L72). It allows to configure that the given floating pool is only available in the specified domain. If no domain is specified then it is val

[2020-05-13 03:58] rfranzke commented on #73
/cc @RaphaelVogel @mandelsoft @grolu @petersutter

[2020-05-14 11:48] kayrus commented on #22
@rfranzke yes.
/cc @vlerenc @RaphaelVogel

[2020-05-14 11:50] vlerenc commented on #22
Yes, today it's difficult to use one network for Gardener shoot'ed seeds (that is maybe only available to us) and another one for end users (that is maybe shared with / available for all).

[2020-05-14 11:55] kayrus commented on #22
@vlerenc the workaround I used is the elements order. I put user network first and system network after.

[2020-05-14 12:44] rfranzke commented on #73
/in-progress
/area usability

[2020-05-25 09:55] #73 closed

[2020-05-28 04:38] #1 closed

[2020-05-28 04:38] #61 closed

[2020-06-02 07:11] ialidzhikov opened #87 "Add integration test for Infrastructure reconciliation and deletion"
**How to categorize this issue?**

/area testing
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:
With https://github.com/gardener/gardener-extension-provider-aws/pull/54 provider-aws features integration test for Infrastructure reconciliation and deletion.

**Why is this needed**:
I would be good if we have similar test for provider-openstack as it will

[2020-06-02 07:11] gardener-botmanager commented on #87
@ialidzhikov Label area/testing does not exist.

[2020-06-16 09:05] ialidzhikov opened #96 "Adapt to terraform v0.12 language changes"
**How to categorize this issue?**

/area open-source
/kind cleanup
/priority normal
/platform openstack

**What would you like to be added**:
provider-openstack needs an adaptation of the terraform configuration to v0.12. For provider-aws this is done with this PR - https://github.com/gardener/gardener-extension-provider-aws/pull/111.

**Why is this needed**:
Currently the terraformer run is only

[2020-06-16 15:41] dkistner opened #99 "Shoots in existing networks"
**How to categorize this issue?**
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:
Like for other cloud providers we want to enable OpenStack Shoot deployments into existing networks. As we do it on the other infrastructures we will manage subnet as smallest unit in the network and it need to be disjunct from the other subnets in the network.

A example

[2020-06-16 15:42] dkistner commented on #99
Will try to pick it up soon.

[2020-06-16 18:18] tuxgoose commented on #99
https://www.terraform.io/docs/providers/openstack/r/networking_network_v2.html

I do not believe I will have a test env set up in time to contribute, very curious how folks develop their terraform and test.

[2020-06-16 18:58] tuxgoose commented on #99
taking a look here to see where the values get inserted at
https://github.com/gardener/gardener-extension-provider-openstack/blob/7039333846704eb3882a79e5e2d0c9c7f832405b/pkg/controller/controlplane/valuesprovider.go#L408

following a former PR as example
https://github.com/gardener/gardener-extension-provider-openstack/pull/98/files#diff-60fe42adca19ba9538edfde17b0e34e2

[2020-06-17 14:45] dkistner commented on #99
Yep seems pretty much straight forward. @dansible and I will start to work on it soon.

/assign @dansible

[2020-06-19 15:15] tuxgoose commented on #99
@dkistner wow, looked at the PR, Lots of changes for this, Looking forward to it.

[2020-06-23 15:49] dkistner opened #107 "Make fip configuration part of the router config"
**How to categorize this issue?**
/kind api-change
/priority normal
/platform openstack

**What would you like to be added**:
The `floatingPoolName` and `floatingPoolSubnetName` fields are actually properties of the router as they are define to which fip and fip subnet the router should be attached to.  Therefore the fields should be moved to the `router` section with the next api version.

See di

[2020-06-25 13:39] #96 closed

[2020-07-24 11:21] hardikdr opened #121 "Configure mcm-settings from worker to machine-deployment."
**How to categorize this issue?**

/area usability
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:  Machine-controller-manager now allows configuring certain controller-settings, per machine-deployment. Currently, the following fields can be set:
- `drainTimeout`, `healthTimeout`, `creationTimeout`, `maxEvictRetries`, `nodeConditions`.
- Refer: https://

[2020-07-30 06:53] timuthy opened #122 "☂️-Issue for "Support Open Telekom Cloud (OTC)""
**How to categorize this issue?**

/area control-plane
/area os
/kind enhancement
/priority normal
/platform openstack

Open Telekom Cloud (OTC) is mostly based on OpenStack ([ref](https://open-telekom-cloud.com/en/support/tutorials/automating-opentelekomcloud-apis)) and using this OpenStack provider extension seems as the quickest and a preferable way to support OTC.

Identified issues:

🚧 Egress

[2020-07-30 06:56] timuthy commented on #122
We'll open separate issues/PRs and link them here as soon as we have identified specific requirements for the provider extension.

[2020-07-30 09:22] shimoza commented on #122
I will discuss it with the RnD. In general, if boot_index is set to 0, the system disk size cannot be set and the error you mentioned appears. If boot_index value is non-zero or omitted, VM is getting spawned with two disks:
- system disk size is inherited from the image
- data disk, equal to "volume_size"

some API call examples:
Test 01, Private Image with 40 GB system disk, boot_index is set to

[2020-08-04 06:54] hardikdr commented on #121
/assign

[2020-08-04 07:43] #121 closed

[2020-08-12 14:30] rfranzke opened #129 "Make handing of floating pool (subnet) names more robust"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority normal
/platform openstack
/exp intermediate
/topology garden seed

**What would you like to be added**:
Today it's possible to provide these data in the `InfrastructureConfig`:

[code]

There is no validation to prevent submitting a GUID while a name is expected. Consequently, the infrastructure reconciliation (or del

[2020-08-26 10:54] rfranzke commented on #87
/touch
/assign @MartinWeindel @prashanth26 @DockToFuture

[2020-08-28 09:39] dkistner commented on #129
Thanks for providing this. Makes sense from my point of view.
I think we can try the second option. Detecting a GUID should be easy. Maybe we should then also change the name of the to `floatingPoolSubnet`.

I guess this is not that urgent, right?

[2020-08-28 09:40] rfranzke commented on #129
👍 Yes, it's not. Changing the name is difficult as it wouldn't be backwards compatible, but we can introduce `floatingPoolSubnet` and deprecate `floatingPoolSubnetName` and remove it after some months.

[2020-08-28 10:06] danielfoehrKn opened #132 "Add infrastructure permission documentation"
**How to categorize this issue?**

/area documentation
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:

We need more detailed docs regarding required infrastructure permissions for both the operator and end-user similar to [this documentation](https://github.com/gardener/gardener-extension-provider-gcp/commit/626edc35c88e45403e98b15d644a70a3f128eb68).

[2020-09-13 11:08] ialidzhikov opened #144 "Cannot update v1.18 Shoot to v1.19"
**How to categorize this issue?**

/area quality storage
/kind bug
/platform openstack

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. Create v1.18.8 Shoot cluster

2. Create sample PVC

[code]

3. Upgrade the Shoot cluster to v1.19.1

4. Ensure that kube-controller-manager enters in `CrashLoopBackOff`

[code]

Logs of ku

[2020-09-13 11:08] ialidzhikov commented on #144
/priority critical

[2020-09-14 07:07] rfranzke commented on #144
Thanks for opening the issue - the reason seems to be that we keep mounting the disk config for KCM (https://github.com/gardener/gardener-extension-provider-openstack/blob/master/pkg/webhook/controlplane/ensurer.go#L274) when CSI migration is not yet complete.

[2020-09-14 07:42] rfranzke commented on #144
/assign @ialidzhikov

[2020-09-15 06:26] #144 closed

[2020-09-17 06:55] rfranzke opened #148 "Update to cloud-provider-openstack version 1.20"
**How to categorize this issue?**

/area open-source
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:
The v1.19 release of the [kubernetes/cloud-provider-openstack](https://github.com/kubernetes/cloud-provider-openstack/releases/tag/v1.19.0) is out, so let's to update it!

/cc @dkistner @kon-angelo @MartinWeindel

[2020-09-28 11:21] vlerenc opened #152 "Encrypted Disks"
In order to comply with certifications required for Gardener, Gardener shall use encrypted disks (supported since Kilo).

/cc @ThormaehlenFred

[2020-09-29 07:11] rfranzke opened #153 "Out-of-the-box Manila CSI driver support for shoots"
**How to categorize this issue?**

/area storage
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:
We could support out-of-the-box deployments and configuration of Manila CSI driver (only shoots >= 1.19 where CSI is enabled).

**Why is this needed**:
Shared file system support for OpenStack

/cc @dkistner @kayrus

[2020-10-06 23:31] kayrus opened #157 "Increase CSI sidecar timeouts"
**How to categorize this issue?**

/kind bug
/priority normal
/platform openstack

**What happened**:

During the resize action the following error occurred: `resize volume pv-test-11894292-abbf-4200-953d-24247c081184 failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded`

**What you expected to happen**:

Resize action should not fail with a `context deadline exceeded`

**Ho

[2020-10-07 14:54] #157 closed

[2020-10-14 18:36] dkistner commented on #99
/invite @hendrikKahl @MrBatschner

[2020-10-14 18:48] dkistner opened #163 "ServerGroup per Workerpool to define Node Affinity/Anti-Affinity"
**How to categorize this issue?**

/area open-source
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:
We want to allow to assign each workerpool of an Openstack Shoot to assign a Affinity or Anti-Affinity Policy. If a policy is assigned to the workerpool then we need to create a OpenStack Servergroup for the workerpool which ensures the policy for the ma

[2020-10-20 11:25] rfranzke commented on #148
Ping, we have hit a problem which might be resolved by the 1.19 Kubernetes CCM library, ref https://github.com/kubernetes/kubernetes/issues/90512, so we should get the 1.19 OpenStack CCM

[2020-10-20 11:27] ialidzhikov commented on #148
The issue is referenced is already fixed in v1.18 with this cherry-pick https://github.com/kubernetes/kubernetes/pull/94253. I am not sure how it is related to cloud-controller-manger.

[2020-10-20 11:36] ialidzhikov commented on #148
Can you explain how this is related to the cloud-controller-manager?

[2020-10-23 06:37] #87 closed

[2020-10-31 13:54] GeertJohan commented on #4
I'm having trouble to get the provider to play nice with an openstack provider that only provides identity v3. That seems related to this issue, I think I need to use application credentials to get the terraform provider to work with v3 keystone?

[2020-10-31 15:29] kayrus commented on #4
@GeertJohan gardener works fine with identity v3. V3 doesn't require application credentials to work. Probably there is a typo in a password or username. You can run terraform with `TF_LOG=DEBUG` and `OS_DEBUG=1` env variables to see API debug log.

[2020-11-21 15:05] timebertt opened #180 "Infra integration test failing on PR"
**How to categorize this issue?**

/area quality dev-productivity
/kind bug
/priority normal
/platform openstack

**What happened**:

Currently, the infra integration test is failing when executed via the TM bot, because the test run can't reach out the SAP-internal OpenStack installation (isolated environment):
see https://github.com/gardener/gardener-extension-provider-openstack/pull/179#issueco

[2020-11-21 15:06] timebertt commented on #180
/cc @schrodit @dguendisch for help :)

[2020-11-23 08:23] dguendisch commented on #180
Unfortunately this scenario cannot work right now. We would need to implement https://github.com/gardener/test-infra/issues/314 first.

[2020-12-10 10:24] #163 closed

[2020-12-21 09:07] dkistner opened #197 "Get rid of the auth_url field in user secret"
**How to categorize this issue?**
/area open-source
/kind technical-debt
/priority normal
/platform openstack

**What would you like to be added**:
We should not longer use the `auth_url` field in the referenced Shoot secret provided by the user.

**Why is this needed**:
The `auth_url` is the same as the Keystone url of the respective OpenStack environment and those is already maintained in the Cl

[2021-01-07 09:05] rfranzke commented on #148
There is https://github.com/kubernetes/cloud-provider-openstack/releases/tag/v1.20.0 now that we should start using for 1.20 clusters.

[2021-01-07 11:55] rfranzke commented on #148
/reopen for 1.20

[2021-01-07 16:34] ialidzhikov commented on #148
The occm@v1.20.0 update is currently blocked by https://github.com/kubernetes/cloud-provider-openstack/issues/1356 as we use custom lb-provider (`f5networks`) and there is regression in occm@v1.20.0 that does not allow setting custom lb-provider.

[2021-01-19 09:23] kayrus commented on #153
Manila add-on should be specified in shoot spec, since the shared network must be created based on the neutron network. This can be done using terraform https://registry.terraform.io/providers/terraform-provider-openstack/openstack/latest/docs/resources/sharedfilesystem_sharenetwork_v2

[2021-01-20 13:54] #148 closed

[2021-01-29 07:07] kayrus opened #214 "Add a "--user-agent" CLI parameter to occm/csi components"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:

`--user-agent` parameter adds an additional prefix to a `User-Agent` request header

**Why is this needed**:

If we set `--user-agent %openstack_domain_name% --user-agent %openstack_project_name% --user-agent %gardener_cluster_name%`, the resulting Us

[2021-01-29 07:26] vpnachev commented on #214
This is for the cloud-controller-manager? Or maybe some other components also support it?

[2021-01-29 08:30] dkistner commented on #214
As far as I can see the `kube-controller-manager` does not have such a field and I guess this would be the important component to have the user agent information. Maybe csi has similar flags, where we can enable it.

I will check if we can assign the user agent for the `cloud-controller-manager`.

[2021-01-29 08:38] dkistner commented on #214
Checked also cinder csi plugin. It supports the `--user-agent` flag, so let's enable the user agents also here.

[2021-01-29 09:01] kayrus commented on #214
If I'm not mistaken after 1.19 we don't configure kcm to use provider plugins. Correct me if I'm wrong.

[2021-02-01 14:10] kayrus opened #219 "Add an ability to specify a subnet pattern for a router static IP"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:

Here is an example of the pattern, which will allow to create a router on a specific FIP subnet:

[code]

This structure will be available once the Terraform OpenStack provider v1.36 is released.

**Why is this needed**:

To control the router creation.

[2021-02-01 14:16] kayrus opened #220 "Update openstack terraform provider configuration"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:

Current provider configuration should be adjusted:

https://github.com/gardener/gardener-extension-provider-openstack/blob/91107343d96686ff9e59098d19536c0e2af3985c/charts/internal/openstack-infra/templates/main.tf#L1-L9

Insecure flag must be removed:

[c

[2021-02-01 14:49] dkistner commented on #219
Awesome :)
/assign

[2021-02-02 13:42] dkistner commented on #220
/assign

[2021-02-03 09:50] dkistner commented on #220
**Status**
- [ ] Add max retries → https://github.com/gardener/gardener-extension-provider-openstack/pull/222
- [ ] Remove `insecure=true` require to have the ability passing a proper CA cert to secure the TLS connections

[2021-02-12 11:35] kon-angelo opened #225 "Mirror CCM and CSI images to GCR"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:
Use the public GCR repo to mirror CSI and CCM images that are still pulled from dockerhub and may incur rate-limits

**Why is this needed**:
Circumvent DockerHub's rate-limiting.

[2021-02-12 12:15] vpnachev commented on #225
There is https://github.com/gardener/gardener-extension-provider-openstack/blob/master/pkg/imagevector/imagevector.go.
It can be controlled via https://github.com/gardener/gardener-extension-provider-openstack/blob/cd7be7eb44a24bab792defbe5a044d5bb045511e/charts/gardener-extension-provider-openstack/values.yaml#L42-L52.

So whoever wants to avoid the docker limits can overwrite the default images

[2021-02-12 12:34] ialidzhikov commented on #225
+1, I don't see why we have to maintain the images also in GCR. There is imagevector overwrite and locally (or wherever) you can set it to whatever.

[2021-02-12 12:37] vlerenc commented on #225
At runtime/in production the image vector should always/only pull images from our GCR.

That's to keep the failure domain small and because we are very satisfied with GCR performance and availability (other than Quay/Docker Hub that had downtimes in the past that impacted Gardener before we started mirroring images to our GCR).

[2021-02-12 12:41] ialidzhikov commented on #225
Sure, I agree. But we should not maintain each and every image to GCR just because the imagevector logic can be broken. We had an issue in the imagevector logic and we will fix it. It is just too much effort to double maintain all of similar images and I don't like the idea at all as I shared in similar discussions in the past.

[2021-02-12 13:07] kon-angelo commented on #225
There were a couple of CCloud cases in the recent days, where they hit the dockerhub limit when deploying shoots. It's also a situation that can plague CCloud more than other providers.

Maybe it's not an issue directly of this repo and can be moved to an issue of the landscape, but the problem remains and the images need a more reliable source than DockerHub. The other extensions already default

[2021-02-12 13:23] rfranzke commented on #225
I agree with the image vector argument: This should be enough to overcome the challenges you described. We don't run infrastructure to mirror each and every image that is somewhere referenced in our open-source repositories.

The reason is that we build the CCMs for AWS, Azure, etc. ourselves with https://github.com/gardener/cloud-provider-azure, so we also push the image to our registry. With Ope

[2021-02-12 16:30] #225 closed

[2021-02-17 14:58] #214 closed

[2021-02-22 11:06] timuthy opened #234 "Not possible to delete Shoot with wrong floatingPoolName"
**How to categorize this issue?**

/area ops-productivity
/area usability
/kind enhancement
/priority normal
/platform openstack

**What would you like to be added**:
Shoots can be deleted with invalid floating pool name configuration.

**Why is this needed**:
Today, if a shoot is created with an invalid floating pool name configuration, the reconciliation will fail but the user is also not able t

[2021-02-22 20:46] kon-angelo commented on #234
Actually this is not an openstack bug, rather it is a side-effect/regression introduced by https://github.com/gardener/gardener/pull/3423 and if I am grasping the situation correctly then it affects all provider extensions.

The root cause are the finalizers in the terraformer's resources that make the `tf.IsStateEmpty` to return false when the state is empty but the CM still TF's finalizers, as i

[2021-02-23 07:24] timuthy commented on #234
Sounds reasonable @kon-angelo, thank you for your analysis.

I think this won't be possible since Terraformer is also the one maintaining the finalizer i.e., you have to run it in order to let it remove the finalizer again. Imo, we need a second "isEmpty" check in the Terraformer which skips the `destroy` action in case the state is void.

[2021-03-01 09:40] dkistner commented on #132
/touch

[2021-03-09 12:56] #219 closed

[2021-03-26 11:43] morremeyer opened #250 "make generate fails with missing executables"
**How to categorize this issue?**
/area dev-productivity
/kind bug
/priority 5
/platform openstack

**What happened**:

Cloning the repository and running `make generate` returns:

[code]

This specifically happens when the generation script processes `./test/...` and `./pkg/...`.

**What you expected to happen**:

`make generate` to run sucessfully

**How to reproduce it (as minimally and precise

[2021-03-26 11:52] ialidzhikov commented on #250
Make sure you have run `make install-requirements` and you have the project cloned under $GOPATH.

Ref https://github.com/gardener/gardener/blob/master/docs/development/local_setup.md#get-the-sources

[2021-03-26 12:41] morremeyer commented on #250
@ialidzhikov Thanks! Then I’ll wait for the code-generator fix, having the repos under GOPATH does not work with my current workflow.

[2021-03-26 12:41] #250 closed

[2021-05-06 14:13] r-ising commented on #122
Any update on this issue?

[2021-05-20 12:35] #69 closed

[2021-07-08 09:38] #197 closed

[2021-07-08 10:00] #107 closed

[2021-07-08 11:50] #4 closed

[2021-07-12 14:45] vanjiii opened #305 "Stop using github.com/pkg/errors"
**How to categorize this issue?**

/kind enhancement
/priority 3
/platform openstack

**What would you like to be added**:
 Similar to gardener/gardener#4280 we should be using Go native error wrapping (available since GO 1.13).
[code]

**Why is this needed**:
 Getting rid of vendors in favor of using stdlib is always nice. Others seem to do this as well - kubernetes/kubernetes#103043 and containe

[2021-07-15 07:43] gesslein commented on #4
I have tested v1.20.0-dev-5e20dfb2c7261c00476648c1b15cefbe1d1246b2 with application credentials sucessfully on citycloud. Thanks for adding this!

For openstack environments where regions have independent keystones (like citycloud), application credentials are created and valid for only a single region. So you need to have multiple gardener secrets and always use the right one, because you will al

[2021-07-15 07:55] kayrus commented on #4
@gesslein application credentials are project scoped by design. If you're switching to another region, you're switching the projectID, therefore the credentials. I don't see a problem you're trying to describe.

[2021-07-15 08:09] gesslein commented on #4
Sorry, this was just meant as a sidenote, maybe to other users. There is no problem.

At least for citycloud the domain/tenant/project name can be the same in all regions and using only one secret with username/password does work, just with application credentials this is different (as you have not control over the id).

[2021-07-15 08:13] kayrus commented on #4
@gesslein got it. to take the control you'll need to have named application credentials and provide your username and domain, or just a userid. cc @MartinWeindel yet another case for named application credentials.

[2021-07-15 13:10] dkistner commented on #152
Just a small update from an internal discussion.
The question here is actually how the key management is done?
The native solution on Openstack would to your Barbican, but it seems that the cinder csi driver has no integration for that.

[2021-07-29 14:45] dat1041988 opened #321 "Storageclass gardener.cloud-fast not using cinder.csi.openstack.org"
**How to categorize this issue?**

/area TODO
/kind bug
/priority 3
/platform openstack

**What happened**:
Already installed garden cluster with storageclass using cinder.csi.openstack.org provider.
When i create shoot cluster, storageclass gardener.cloud-fast is created with provisioner kubernetes.io/cinder.
Volume cannot create using this storageclass and is in pending state.
**What you expecte

[2021-07-30 08:25] vpnachev commented on #321
Yes. And the CSI driver is backward compatible with the in-tree provisioner and this should be working fine.

Could please add a step-by-step guide how to reproduce what you are observing together with events and logs?
/status author-action

[2021-07-30 10:34] dat1041988 commented on #321
@vpnachev
Steps:
Install k8s v1.20.7 using kubespray, OS ubuntu 20.04, with options:
cloud_provider: external
external_cloud_provider: openstack
cinder_csi_enabled: true

Install VPA into k8s cluster.
Create default storageclass using cinder.csi.openstack.org.

Deploy garden cluster using garden-setup without any errors.
Check Seed cluster status is ready.
Using GUI to create shoot cluster. Check

[2021-08-02 13:58] dat1041988 commented on #321
Using default intree cinder for SC garden.cloud-fast  & CSI migration enable feature-gates.

[2021-08-02 13:58] #321 closed

[2021-08-24 04:44] dat1041988 opened #324 "Error when using Application Credentials."
**How to categorize this issue?**

/area TODO
/kind bug
/priority 3
/platform openstack

**What happened**:
Got an error when creating shoot with secret using application credentials.
![image](https://user-images.githubusercontent.com/42293819/130556708-d1050e10-28b6-4183-86de-0d16427a5d7a.png)

**What you expected to happen**:
Create shoot without any issues.
**How to reproduce it (as minimally a

[2021-08-24 06:47] dkistner commented on #324
/assign @kon-angelo @MartinWeindel

[2021-08-24 07:23] MartinWeindel commented on #324
@dat1041988
Have you provided the secret keys domainName and tenantName? They are always needed.
[code]

Please also provide a dashboard link to the shoot cluster

[2021-08-24 09:11] dat1041988 commented on #324
Yes, I provided both domainName and tenantName.
Openstack use two Authentication Method.
1. Keystone Credentials.
2. Keycloak OIDC >>> I use this account to create Application Credentials and use this domainName (Keycloak).
Two Method have different domainName (1. is Default 2. is Keycloak). Does it affect authentication?

Thanks!

[2021-08-25 06:53] MartinWeindel commented on #324
The Openstack networking client reports `Authentication failed`. I suspect your credentials are inconsistent.
You should try to use the application credentials with a separate Openstack client to find out what's wrong with the credential set.

[2021-08-27 07:09] stoyanr opened #328 "Categorize non-existing `floatingPoolName` as configuration issue with a better error message"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3
/platform openstack

**What would you like to be added**:
Currently, if `spec.provider.infrastructureConfig.floatingPoolName` refers to a non-existing floating pool, the reconciliation fails with the following error:

[code]

Although this error captures the Terraform error correctly and is categorized as `ERR_

[2021-08-30 15:46] #328 closed

[2021-08-31 08:34] #305 closed

[2021-09-09 16:22] dat1041988 commented on #324
@MartinWeindel
I cannot use application credentials. In my openstack env, user-domain-name is different with project-domain-name. What value should i fill in "domainName"?

Thanks!

[2021-09-13 06:28] MartinWeindel commented on #324
Have you tried to use only the keys `applicationCredentialID` and `applicationCredentialSecret` and to remove the key `applicationCredentialName`?

[2021-09-13 11:40] ialidzhikov opened #335 "Each Infrastructure reconciliation recreates security group rules"
**How to categorize this issue?**

/area quality
/kind bug
/priority 2
/platform openstack

**What happened**:
Each Infrastructure reconciliation recreates security group rules

**What you expected to happen**:
No changes when reconciliation Infrastructure that was successfully applied.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create an openstack Shoot

2. Make sure t

[2021-09-13 13:08] kon-angelo commented on #335
I can confirm that it happens. However I checked the TF config and state before and after and I didn't find any difference (worthy of making TF recreate the secgroup rules). Only the `cluster_tcp_all` and `cluster_udp_all` rules get recreated.

This could be an issue with the terraform provider itself.

[2021-09-14 15:06] #335 closed

[2021-09-17 10:57] berendt commented on #122
They also don't use Octavia for LBaaS.

We are currently clarifying if we can adopt the issue to create an OpenStack based extension for the OTC.

[2021-09-17 11:54] gtema commented on #122
We are currently in progress of getting Octavia API to OTC (something like in few months). There might be still further adoption issues (it's gonna be Octavia API managing OTC LB with their features) but we are clearly moving in this direction and are open for concrete dialog.

[2021-09-30 08:20] marwinski opened #340 "Deploy custom resolv.conf for OpenStack flavour CC EE"
**What would you like to be added**:

Our CC EE colleagues requested to have the following option set in the `/etc/resolv.conf` file:

[code]

The OpenStack extension should ensure a proper `/etc/resolv.conf` file for this platform flavour. This affects all linux distributions which use `systemd-resoled` for network name resolution (Ubuntu, Garden Linux).

As an alternative a new `kubelet-resolv.c

[2021-10-04 14:29] dkistner commented on #99
Fixed with https://github.com/gardener/gardener-extension-provider-openstack/pull/317

[2021-10-04 14:29] #99 closed

[2021-10-07 08:46] #340 closed

[2021-10-11 08:39] timebertt opened #345 "Pods serving webhooks are missing readiness probes"
**How to categorize this issue?**

/area robustness
/kind enhancement
/platform openstack

**What would you like to be added**:

Both the extension pods running in the seed and the validator pods running in the garden are missing `readinessProbes`.
We should add them to minimize webhook failures because of request being sent to unready pods.

[2021-11-22 12:08] dkistner opened #357 "Centrally managed technical user support"
**How to categorize this issue?**
/area security
/kind enhancement
/priority 3
/platform openstack

**What would you like to be added**:
Similar like for [Azure](https://github.com/gardener/gardener-extension-provider-azure/issues/383) we can implement a central approach to manage technical users for Shoot clusters. The technical users would be provided centrally in the `Keystone` by yhe Gardener

[2021-12-07 11:19] dkistner opened #362 "Terraform removal for infrastructure controller"
**How to categorize this issue?**
/kind technical-debt
/priority 2
/platform openstack

**What would you like to be added**:
Project Gardener is using Terraform since beginning to create, manage and delete the underlying infrastructure for Shoot clusters (e.g. VPCs, subnets, nat gateways etc.).

As Terraform was great in the beginning to get started, we today experience more and more issues with i

[2021-12-17 11:10] einfachnuralex opened #366 "K8s Conformance check failing for 1.21"
**How to categorize this issue?**

/area control-plane
/kind bug
/platform openstack

**What happened**:

Running the conformance check on a Shoot with Kubernetes version 1.21, we had the following failed test:

[code]

This problem should be solved by Gardener by setting `--external-hostname` to the API Server URL for OIDC config:

https://github.com/gardener/gardener/blob/5867624a45a1cd92e6fd48e

[2021-12-17 12:37] dguendisch commented on #366
Related: https://github.com/gardener/gardener/issues/4023
@dkistner @kon-angelo wondering why this test passes in our openstack setup 🤔

[2021-12-17 12:43] ialidzhikov commented on #366
Because we run with the ManagedIstio and APIServerSNI feature gates enabled. The mutation in https://github.com/gardener/gardener-extension-provider-openstack/blob/719a343a36b133764f8563b6ec1eec25dfe6d6c1/pkg/webhook/controlplaneexposure/ensurer.go#L83 does not happen when the feature gates are enabled because of the early exit in https://github.com/gardener/gardener-extension-provider-openstack/b

[2021-12-17 12:51] einfachnuralex commented on #366
That's a good point. I forgot to mention that we don't use Istio and SNI :)

But is the line to overwrite the external hostname then still needed?

[2022-01-07 12:53] brumhard commented on #357
Hi @dkistner we @stackitcloud would really appreciate this feature and would be willing to put effort into it. Is there any way we can help with the implementation for it?

[2022-01-07 15:24] jkmw opened #372 "Nodes detect wrong internal IP when more than one network interface is attached"
**How to categorize this issue?**

/area networking
/kind bug
/platform openstack

**What happened**:

In order to reach internal services, our nodes have attached a second (private) network interface. This leads to some nodes identifying the wrong address as the internal IP. This means, for example, that logs can no longer be fetched from pods running on these nodes.

**What you expected to happe

[2022-01-10 07:31] dkistner commented on #357
Hi @brumhard,
thank you very much! I'm already working on a PR for this feature, but I will first add another thing that is also relevant for this scenario.
It is about creating an application credential for the provided technical user and using this application credential to interact with the openstack apis instead of using the technical user. This will be handy in regard to secret rotation of th

[2022-01-10 09:40] dergeberl commented on #357
Hi @dkistner,
sounds good. Let us know if we can support the issue.

[2022-01-18 09:11] #372 closed

[2022-01-23 19:49] sphr2k commented on #122
@gtema I noticed https://github.com/opentelekomcloud-infra/octavia-proxy/ a while ago. Really looking forward to Octavia being supported on OTC. Do you have an ETA for the project?

Also, are you aware of any plans to implement PROXY protocol support for OTC ELB v3? As it is, there is no way to get the actual client IP when using the ELB.

[2022-01-24 07:48] berendt commented on #122
@sphr2k From our side, we plan to address the OTC extension when the Octavia proxy is in place. We won't spend any time on v3, since it is foreseeable that the proxy function will come.

@gtema I would also be interested in the current status. A few months have passed in the meantime.

[2022-01-24 08:00] gtema commented on #122
Yeah, the time passes and things are still under question:

- Octavia proxy as a solution is ready (from SW pov) and deployed for testing (no SLA, no API limits bypassing, etc)
- we struggle to find resources currently to deploy it productively. Actially anybody is able to deploy container locally wherever and use it specifying octavia_endpoint_override in the clouds.yaml (at least this is exactly

[2022-02-02 10:18] elenz97 opened #389 "Configurable OpenStack SecurityGroups"
**How to categorize this issue?**

/area networking
/kind enhancement
/platform openstack

**What would you like to be added**:

A configuration option do specify custom OpenStack SecurityGroups using this extension.
From what i know, customizing OpenStack SecurityGroups should only be possible by specifying the desired configuration in the templates inside [./pkg/internal/infrastructure/templates

[2022-02-03 15:12] JuliusSte commented on #357
Hey @dkistner,
don't want to bother you too much, but we are really interested in this feature. Can you share some progress or can we support you in any way to speed it up in some form? Would be great, thanks a lot!

[2022-02-04 07:35] dkistner commented on #357
Hi @JuliusSte,

so this feature consists from our point of view out of two parts:
1. Support for application credentials which are owned by the Openstack user (or the unrestricted application credential) that a Shoot owner provides for the cluster. These app credentials are managed by the Openstack extension and used for all interactions with the Openstack API. This is required to avoid service di

[2022-02-16 00:54] tedteng opened #395 "setup the compute client (also network client) in `actuator` - Bastion Extension"
Structure wise there are a few opportunities to improve. One major improvement, which should be done is the handling of compute and network clients. They should be created when an operation (reconcile or deletion) is started and then passed around instead of always creating a new clients.

This would eliminate a lot of the functions in `pkg/controller/bastion/actuator.go` which are just creating a

[2022-02-16 00:57] tedteng commented on #395
/enhancement

[2022-02-18 19:07] sphr2k commented on #122
@gtema Thanks for the feedback. I tried the proxy locally. Is it also possible to deploy it on K8s? I couldn't find an endpoint override parameter for OpenStack CCM.

[2022-02-18 19:13] gtema commented on #122
It is possible to deploy it on CCE without problems, but yes, absence of endpoint override in cloud provider is am issue

[2022-02-19 11:28] sphr2k commented on #122
@gtema Thanks - so can you give me a hint how to use it on OTC or is it not possible?

[2022-02-19 14:29] berendt commented on #122
A directly usable image is now available at quay.io/osism/otc-octavia-proxy:latest.

We will install the proxy next week and then test whether Gardener with the OTC does now directly work with the OpenStack extension.

[2022-02-19 15:02] gtema commented on #122
Our latest build images are at quay.io/opentelekomcloud/octavia-proxy

[2022-02-19 15:46] sphr2k commented on #122
@berendt Thanks for the hint. What I meant was: is it possible to use Octavia Proxy on Kubernetes with Openstack CCM? How would I tell the CCM to go though the proxy?

[2022-03-15 11:23] scult opened #418 "Add option to enable port security by default for networks"
**How to categorize this issue?**
/area networking
/kind enhancement
/platform openstack

**What would you like to be added**:
A configuration option to enable the port security group setting on network creation, so ports that are created have port security enabled by default.

**Why is this needed**:
Some openstack providers require port security to be enabled for VM ports. When Gardener tries to

[2022-03-22 14:58] kon-angelo commented on #418
Hello @scult. I tried to take a look into that but unfortunately our openstack  environment does not support `port security`. As a matter of fact, I cannot enable it at all and so even if I do try to implement this I would be unable to make an e2e test.

I am discussing with our environment administrators about this, but for the time being I cannot progress. Therefore I would like to ask you if yo

[2022-03-28 11:12] berendt commented on #20
That would be important for us. The use of insecure by default is not a good idea.

It would be good if an internal CA could be configured. At least with OpenStack this is often the case that you find some internal CA that you have to use.

[2022-03-29 15:37] #366 closed

[2022-03-31 15:03] dkistner opened #429 "Manged application credentials"
**How to categorize this issue?**
/area security
/kind enhancement
/platform openstack

**What would you like to be added**:

Add support for application credentials managed by the openstack extension for the user provided technical users.
These application credentials will be used to interact with openstack apis instead of the technical users.

**Why is this needed**:
This will avoid disruptions

[2022-04-11 08:59] tedteng commented on #395
/assign

[2022-04-21 11:55] RaphaelVogel opened #438 "GPU support of bare metal machines"
**How to categorize this issue?**
/area TODO
/kind enhancement
/platform openstack

**What would you like to be added**:
Support for bare metal machines in Openstack.

**Why is this needed**:
Especially stakeholders running machine learning applications must have access to GPU acceleration. This is only possible using bare metal nodes.

[2022-05-11 07:33] elenz97 commented on #389
Hello, could anyone give me an update on the above?

[2022-05-12 10:08] SvenMW commented on #389
/area security

[2022-06-13 07:46] #395 closed

[2022-06-15 10:46] namsral opened #461 "Seed cluster cannot recover after failed reconciliation when trying to delete network resources"
**How to categorize this issue?**

/area control-plane
/kind bug
/platform openstack

**What happened**:
Managed seed cluster fails reconciliation because network resources fail to delete which prevents me from updating the cluster and its extensions.

Reconciliation is attempting to delete following resources:

- seed's security group rule to allow any ingress UDP traffic
- seed's single subnet

[2022-06-17 08:34] kon-angelo commented on #461
Hello @namsral. This is indicative that there are resources on the infrastructure that fail to be deleted. These keep the subnet "busy" and openstack refuses to delete it.

In my experience, the usual suspect in such cases are either loadbalancers or ports. It would be helpful if you can check what resources have not been deleted so that we can find the root cause easier.

[2022-06-17 11:06] namsral commented on #461
Thanks @kon-angelo, removing the port connecting the shoot's subnet and router resolved the issue. As both the port, subnet and router are managed by Gardener I consider this a bug but I'm not sure in which system.

[2022-06-17 11:06] #461 closed

[2022-06-24 11:42] namsral commented on #461
New information revealed that ports of new spawned machines were keeping the subnet from beging deleted.

Seed failed on similar error:

[code]

[2022-07-04 09:20] namsral commented on #461
For future reference, the issue was caused by a syntax error in shoot manifest and was resolved by correcting the syntax in the shoot manifest and infra config.

Although the shoot's subnet was correctly created and functional, the difference in notation caused Terraform to recreate the subnet during a reconciliation:

[code]

[2022-07-19 06:57] latituder commented on #438
Have the same requirement to make Gardener support OpenStack GPU BareMetal machine types;
or, at least enable to manually adding a GPU based BareMetal machine node to Gardener managed K8S

[2022-07-26 09:39] mervynzhang commented on #438
Same here. BareMetal is supported by kubernikus several years ago. It's a blocker for us to migrated to gardener.

[2022-09-20 09:43] latituder commented on #438
Hello colleagues, this issue is still open.
any progress or decision made to support GPUs from OpenStack?

[2022-09-28 15:12] elenz97 opened #499 "Avoid disruptive changes to Shoot ETCD"
**How to categorize this issue?**

/area robustness
/area control-plane

**What would you like to be added**:

In our Gardener setup, we are required to use our own `StorageClass` for the Shoot ETCD component.
As far as I can understand how a shoot ETCD is provisioned, the `StorageClass` will always be obtained from the provided `config.etcd.storage` configuration from the [gardener-extension-prov